$dark-top-bar: true;

$harvest-gold: #cd9300ff;
$floral-white: #F8F4EC;
$flax: #E5D089;
$dark-green: #031D0B;
$black: #000000;

/** main color scheme **/
$main-text-color: $black;
$main-bg: $floral-white;
$main-link: $dark-green;
$main-link-hover: $harvest-gold;
$main-headers: $harvest-gold;

/** dark-background color scheme **/
$dark-text-color: $black;
$dark-bg: $dark-green;
$dark-link: $flax;
$dark-link-hover: $harvest-gold;
$dark-headers: $harvest-gold;

/** accent-background color scheme **/
$accent-text-color: $dark-green;
$accent-bg: $flax;
$accent-link: $black;
$accent-link-hover: $harvest-gold;
$accent-headers: $black;